:root {
    --side-nav-width: 12rem;
    --header-height: 8rem;
    --icon-size: 3rem;
}


#sidenav {
    position: fixed;
    width: var(--side-nav-width);
    height: 100vh;
    top: 0;
    left: calc(var(--side-nav-width) * -1);
    background-color: #f4f4f4;
    transition: 0.5s;
    z-index: 20; /* Above content but below the menu icon */
    border-right: 1px solid #ccc;
    padding-top: 60px;
    box-sizing: border-box;
}
#sidenav.expanded {
    left: 0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 1);
}
#sidenav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#sidenav img{
    width: 80%;
    display: block;
    margin: 0 auto;
    /* Center the icon */
}
header{
    background-color: red;
    height: var(--header-height);
}

.flex{
    display: flex;
}
.flex.column{
    flex-direction:column;
}
.flex.row{
    flex-direction:row;
}
.flex.max{
    flex-grow: 1;
}

html,
body{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    height: 100vh;
}