<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/static/images/RobotSports_logo-removebg-preview.png">
	<link rel="stylesheet" href="{{ url_for('static', filename='new_frontend/style.css') }}">
	
	{% if extra_style %}
	<!--this is ugly but couldn't get it to work otherwise-->
	<style>
	{% include extra_style %}
	</style>
	{% endif %}
	<title>{{ page }} - Visualization tool</title>
</head>
<body class="flex column">
	<header class="flex row">
		<div id="menuIcon">☰</div>
        <img id="logo" src="/static/images/RobotSports_logo-removebg-preview.png" alt="RobotSports VDL Team">
        <div id="header-content">
			{% if header_content %}
			{% include header_content %}
			{% endif %}
		</div>
	</header>
	<div class="flex row max">
		<nav id="sidenav" class="">
			<ul>
				<li><a href="/current-game/">
					<img class="sidenav-img" src="/static/images/now.png" alt="">
						<span>Current Game</span></a>
				</li>
				<li><a href="/history/">
					<img class="sidenav-img" src="/static/images/server-storage.png" alt="">
						<span>History</span></a>
				</li>
				<li><a href="/statistics/">
					<img class="sidenav-img" src="/static/images/bar-chart.png" alt="">
						<span>Statistics</span></a>
				</li>
				<li><a href="/performance/">
					<img class="sidenav-img" src="/static/images/speedometer.png" alt="">
						<span>Performance</span></a>
				</li>
			</ul>
		</nav>
		<aside id="" style="width: 20rem; background-color: darkturquoise;">
			{% if sidebar %}
			{% include sidebar %}
			{% endif %}
			<p>//maybe this can be imported aswell.</p>
			<p>//maybe seperate py files are possible</p>
		</aside>
		<page class="flex max">
			{% include page+"/index.html" %}
		</page>
	</div>
</body>
</html>