<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/static/images/logo.png">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{url_for('static', filename='main.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

	
	{% if extra_style %}
	<!--this is ugly but couldn't get it to work otherwise-->
	<style>
	{% include extra_style %}
	</style>
	{% endif %}
	<title>{{ page }} - Visualization tool</title>
</head>
<body class="flex column">
	<header class="flex row">
		<div id="menuIcon">☰</div>
		<img id="logo" src="/static/images/logo.png" alt="RobotSports VDL Team Logo">
        <div id="header-content">
			{% if header_content %}
			{% include header_content %}
			{% endif %}
		</div>
	</header>
	<div id="notificationBar"></div>
	<div class="flex row max">
		<nav id="sidenav" class="">
			<ul>
				<li><a href="/Realtime/">
					<img src="/static/images/now.png" alt="">
						<span>Realtime</span></a>
				</li>
				<li><a href="/CSV/">
					<img src="/static/images/csv.png" alt="">
						<span>CSV</span></a>
				</li>
				<li><a href="/MSL/">
					<img src="/static/images/MSL.png" alt="">
						<span>MSL</span></a>
				</li>
				<li><a href="/Settings/">
					<img src="/static/images/Gear.svg" alt="">
						<span>Settings</span></a>
				</li>
			</ul>
		</nav>
		<aside id="sidebar">
			{% if sidebar %}
			{% include sidebar %}
			{% endif %}
		</aside>
		<page class="flex max">
			{% if page %}
			{% include page+"/index.html" %}
			{% endif %}
		</page>
	</div>
</body>
</html>