<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sets viewport to width of device screen, init zoom level 1 to 1 scale -->
    <title>Visualization Robotsports VDL</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/menuBar.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/robotPositioning.js') }}"></script>
</head>

<body>
    <header>
        <div id="menuIcon">☰</div>
        <img id="logo" src="/static/images/logo.png" alt="RobotSports VDL Team">
        <div id="selectedMenuItemName">Select page in menu</div>
        <div id="header-content">
            <div id="timeline-container">
                Timeline will be here
            </div>
        </div>
    </header>
    <aside id="side-nav">
        <nav>
            <ul>
                <li><a href="/templates/realTime.html">
                    <img src="/static/images/now.png" alt="">
                    <span>Real-time</span>
                </a></li>
                <li><a href="/templates/fromCSV.html">
                    <img src="/static/images/csv.png" alt="">
                    <span>CSV standard</span>
                </a></li>
                <li><a href="/templates/fromJSON.html">
                    <img src="/static/images/json-file.png" alt="">
                    <span>JSON standard</span>
                </a></li>
                <li><a href="/templates/index.html">
                    <img src="/static/images/speedometer.png" alt="">
                    <span>Index for tests</span>
                </a></li>
                
            </ul>
        </nav>
    </aside>
    <div class="content-container">
        <aside id="left_setting">
            <div class="menu-section">
                <label for="fileUploader">Upload a file</label>
                <form id="fileUploader" action="/upload" method="post" enctype="multipart/form-data" target="hiddenFrame">
                    <input type="file" name="file" accept=".csv, .msl">
                    <input type="submit" value="Upload">
                </form>                
                <br><select id="robotSelector">
                    <option value="" hidden>Select a Robot</option>
                </select>
                <button id="loadPositionsButton">Load Positions</button>
            </div>
            
        </aside>
        <script type="text/javascript">
            function uploadComplete(data) {
                alert(data.message);
            }
        </script>            
        <iframe name="hiddenFrame" id="hiddenFrame" style="display: none;"></iframe>
        <div class="field-container">
            <svg id="soccerField" class="fieldClass"  viewBox="0 0 230 150" preserveAspectRatio="xMidYMid meet">     
                <!-- Outer boundaries -->
                <rect x="1" y="1" width="220" height="140" fill="#136A16" stroke="#FFF" stroke-width="2"/>
                <!-- Halfway line -->
                <line x1="110" y1="1" x2="110" y2="142" stroke="#FFF" stroke-width="2"/>
                <!-- Center circle -->
                <circle cx="110" cy="70" r="16" fill="none" stroke="#FFF" stroke-width="2"/>
                <!-- Left penalty area -->
                <rect x="1" y="35.5" width="22.5" height="69" fill="none" stroke="#FFF" stroke-width="2"/>
                <!-- Right penalty area -->
                <rect x="198.5" y="35.5" width="22.5" height="69" fill="none" stroke="#FFF" stroke-width="2"/>
                <!-- Left goal -->
                <rect x="1" y="50.5" width="7.5" height="39" fill="none" stroke="#FFF" stroke-width="2"/>
                <!-- Right goal -->
                <rect x="213.5" y="50.5" width="7.5" height="39" fill="none" stroke="#FFF" stroke-width="2"/>
                <!-- Center mark -->
                <circle cx="110" cy="70" r="1.5" fill="#FFF" />
                <g id="robotPositions"></g>
            </svg>
        </div>
</div>
</body>

</html>