:root {
    --side-nav-width-collapsed: 3rem;
    --side-nav-width-expanded: 12rem; 
    --header-height: 12rem; 
    --icon-size: 2rem; 
}

body,
html {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #cbc8c8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: lightgray;
    height: var(--header-height);
    position: relative;
    z-index: 10;
}

#header-content {
    display: flex;
    height: 100%;
    width: calc(100% - 12rem);
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow: hidden; 
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    max-width: 12rem;
    max-height: 7rem;
    padding: .5rem;
}

#selectedMenuItemName {
    font-size: 1rem;
    padding: .5rem;
    text-align: center;
}

#menuIcon {
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem;
    align-self: start;
    padding-right: 0;
    z-index: 30;
}

#extraHeaderSpace {
    flex-grow: 1;
    height: 100%;
}

#timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chart-and-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 10px); /* Adjust this as needed */
}

#posDeltaChart {
    flex-grow: 1;
    max-height: 100%;
    max-width: 80%; /* Adjust as needed */
}

#pagination-controls {
    display: flex;
    flex-direction: column; /* Change to row if space allows */
    justify-content: center;
    margin-left: 10px; /* Adjust as needed */
}

canvas {
    max-width: 100%; /* Ensure the canvas does not exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    box-sizing: border-box;
}

#pagination-controls button {
    margin: 5px 0; 
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.field-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1; /* Ensure the field container is on top */
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.fieldClass {
    width: 100%;
    height: 100%;
    display: block;
}

#robotPositions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all; /* Allow pointer events */
    z-index: 2; /* Ensure robot positions are above the field */
}

#robotPositions circle {
    cursor: pointer; /* Make circles clickable */
    z-index: 3; /* Ensure circles are above the field */
    position: relative;
}

#side-nav {
    display: flex;
    position: fixed;
    width: var(--side-nav-width-collapsed);
    height: 100vh;
    top: 0;
    left: calc(var(--side-nav-width-collapsed) * -1); /* Initial position off-screen */
    flex-direction: column;
    background-color: #ffffff;
    transition: left 0.3s ease, width 0.3s ease; /* Transition for left and width */
    z-index: 20;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 1rem;
}

#side-nav.expanded {
    left: 0; /* Bring the sidebar into view */
    width: var(--side-nav-width-expanded); /* Expand the sidebar width */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

#side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#side-nav ul li {
    width: 100%;
}

#side-nav ul li a {
    font-size: 0.875rem; /* Smaller font size */
    color: #333;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    text-decoration: none;
    transition: background-color 0.3s;
    border-bottom: 1px solid #f4f4f4;
    justify-content: center; /* Center align items */
}

#side-nav ul li a img {
    width: 2rem; /* Smaller icons */
    height: 2rem;
    margin-right: 0.5rem; /* Add some space between icon and text */
}

#side-nav ul li a span {
    display: none; /* Hide the text initially */
}

#side-nav.expanded ul li a span {
    display: inline; /* Show text when sidebar is expanded */
    margin-left: 0.5rem; /* Add space between icon and text */
}

#menuIcon, #backIcon {
    font-size: 1.5rem; /* Smaller menu icons */
    cursor: pointer;
    padding: 0.5rem;
}

#left_setting {
    flex: 0 0 var(--side-nav-width-expanded);
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 1rem;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#left_setting select,
#left_setting button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
    font-size: 1rem;
    color: #333;
}

#left_setting button {
    background-color: #5cb85c;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#left_setting button:hover {
    background-color: #4cae4c;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}

#left_setting label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#left_setting input[type="file"],
#left_setting select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#left_setting input[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: #5cb85c;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.section-tabs {
    display: flex;
    margin-bottom: -1px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.section-tabs button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 10px 20px;
    margin-right: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section-tabs button.active {
    background-color: white;
    border-top: 3px solid #5cb85c;
    position: relative;
    top: 1px;
    z-index: 1;
}

.section {
    border: 1px solid #ccc;
    display: none;
    padding: 15px;
    background-color: white;
}

.section.active {
    display: block;
}

#right_legend {
    width: var(--side-nav-width-expanded);
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 1rem;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: right 0.3s ease, width 0.3s ease; /* Transition for right and width */
    position: fixed;
    top: 0;
    right: calc(var(--side-nav-width-collapsed) * -1); /* Initial position off-screen */
    height: 100vh;
    z-index: 20;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 1rem;
}

#right_legend.expanded {
    right: 0; /* Bring the sidebar into view */
    width: var(--side-nav-width-expanded); /* Expand the sidebar width */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

#legend-toggle {
    position: fixed;
    right: 0;
    top: calc(var(--header-height) / 2);
    transform: translateY(-50%);
    padding: 0.5rem;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 30;
}

