:root {
    --side-nav-width-expanded: 12rem;
    --header-height: 8rem;
    --icon-size: 3rem;
}

body,
html {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #cbc8c8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: lightgray; /*#f4f4f4;  */ 
    height: var(--header-height);
}

#header-content {
    display: flex;
    height: 100%;
    width: calc(100% - 12rem);
    /* Subtracting the logo width */
    align-items: center;
    /* Aligns the timeline and logs containers vertically */
}

#logo {
    max-width: 12rem;
    max-height: 7rem;
    padding: .5rem;
}

#selectedMenuItemName {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
}

#timeline-container {
    flex-grow: 2;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Vertically aligns the timeline content */
}

#logs-container {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 0 1rem;
}

.scrollable-logs {
    max-height: 100%;
    /* Ensures the content does not exceed the header */
}

.content-container {
    flex:1;
    display: flex;
    flex-direction: row;
}


.field-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    flex-direction: column;
}


.fieldClass {
    width: 100%;

    max-height: calc(100vh - var(--header-height));
  }
  
#robotPositions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Prevents the positions div from blocking click events */
}

#menuIcon {
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem;
    align-self: start;
    padding-right: 0;
    z-index: 30;
}

#side-nav {
    position: fixed;
    width: var(--side-nav-width-expanded);
    height: 100vh;
    top: 0;
    left: calc(var(--side-nav-width-expanded) * -1);
    background-color: #f4f4f4;
    transition: 0.5s;
    z-index: 20;
    /* Above content but below the menu icon */
    border-right: 1px solid #ccc;
    padding-top: 60px;
    box-sizing: border-box;
}

#side-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#side-nav.expanded {
    left: 0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 1);
}

#side-nav ul li a img {
    width: 80%;
    display: block;
    margin: 0 auto;
    /* Center the icon */
}

#side-nav ul li a {
    font-size: 1rem;
    color: #333;
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    text-decoration: none;
    border-bottom: 1px solid #e7e7e7;
}

#side-nav ul li a:hover {
    color: #343434;
}

#left_setting {
    flex: 0 0 var(--side-nav-width-expanded);
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 1rem;
    border-right: 1px solid #ccc;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#left_setting select,
#left_setting button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
    font-size: 1rem;
    color: #333;
}

#left_setting button {
    background-color: #5cb85c;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#left_setting button:hover {
    background-color: #4cae4c;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}

#left_setting label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
    font-weight: bold; /* Adds emphasis to label text */
}

#left_setting input[type="file"],
#left_setting select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 1rem;
    -webkit-appearance: none; /* Removes default styling */
    -moz-appearance: none;
    appearance: none; /* Essential for custom dropdown styling */
    cursor: pointer;
}

#left_setting input[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: #5cb85c; /* Primary button color */
    color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.section-tabs {
    display: flex;
    margin-bottom: -1px; /* This will help tabs to connect seamlessly with the content box below */
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.section-tabs button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom: none; 
    padding: 10px 20px;
    margin-right: 2px; /* Space between tabs */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for active tab */
.section-tabs button.active {
    background-color: white;
    border-top: 3px solid #5cb85c; /* A highlight to indicate the active tab */
    position: relative; /* Helps to lift the tab up to cover the bottom border */
    top: 1px; /* Aligns with the bottom border of the section-tabs */
    z-index: 1; /* Makes sure the tab stays over the other elements */
}

/* Styling for the content of tabs */
.section {
    border: 1px solid #ccc;
    display: none; /* Hide by default */
    padding: 15px;
    background-color: white;
}

/* The active content section should be displayed */
.section.active {
    display: block;
}
